# ======================================================================================
# DIRENV .ENVRC FILE
# ======================================================================================
#
# This file is run by `direnv` to dynamically load the appropriate virtual environment
# upon entering this directory. This works for both `uv` and `conda` environments.
#
# To install `direnv`, use Homebrew:
#     brew install direnv
#
# In the .bash_profile file, add:  
#     eval "$(direnv hook bash)"
#
# The .envrc file should be created within the root of the project directory.
# Use this file as the template, specifying the following commands for either uv or Conda.
#
# For UV:
#     source .venv/bin/activate
#
# For CONDA:
#     source "$(conda info --base)/etc/profile.d/conda.sh"
#     conda activate my_env_name
#
# ======================================================================================


source .venv/bin/activate